h1 {font-size:250%; text-align:center; font-family: Arial;}
p {font-size: 18px; text-align:justify; font-family: Arial;}
h2 {font-size:150%; text-align:center; font-family: Arial;}
h3 {text-align:center; font-family: Arial;}
/* table {}
td {}
image {} */
button {height : 40px; width: 175px; font-size : 18px; font-family: Arial; color:#F7875D; background-color:#FFDDD2; border-color: #FFDDD2;}  
#submitbutton{height : 40px; width: 175px; font-size : 18px; font-family: Arial; color:#F7875D; background-color:#FFDDD2; border-color: #FFDDD2;}
#resetbutton{height : 40px; width: 175px; font-size : 18px; font-family: Arial; color:#F7875D; background-color:#FFDDD2; border-color: #FFDDD2;}
#navbar {color:#006D77; background-color:#83C5BE; font-size: 20px; text-align:center; font-family: Arial;}
#selected {color:#83C5BE; background-color:#006D77; border-style: solid; border-color: #006D77;}
#notselected {color:#006D77; background-color:#83C5BE;}
#sfpi {text-align: left; font-weight: bold;}
#contact {text-align: right;}
.col-sm {border-style:solid}
/*image de fond 
barre en haut
barre en base*/
select {}
input {}
iframe {}
label {font-size: 18px; font-family: Arial;}
body {background-image: url("../../image/background.png"); background-size: cover; background-repeat: no-repeat;}
#message { width: 100%; height: max-content;
    /*width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 4px solid #006D776;
    border-radius: 4px;
    font-size: 18px;
    resize: none;
    */}