h1 {
	font-size: 250%;
	text-align: center;
	font-family: Arial;
}

h4 {
	text-align: center;
	font-family: Arial;
}

p {
	font-size: 18px;
	text-align: justify;
	font-family: Arial;
}

h2 {
	font-size: 150%;
	text-align: center;
	font-family: Arial;
}

h3 {
	font-size: 125%;
	text-align: center;
	font-family: Arial;
}

#tableBillet {
	background-color: #006D77;
	border-color: #006D77;
	border-radius: 50px;
	color: white;
	padding: 30px;
}

#labelBillet{
	text-align: left;
	font-size: 125%;
	text-decoration: underline;
}

.billetLeftCol{
	text-align: left;
	width: 200px;
}

.billetRightCol{
	text-align: left;
}

#billetCategorie{
	text-align: left;
	font-weight: bold;
}

button {
	height: 40px;
	width: 175px;
	font-size: 18px;
	font-family: Arial;
	color: #F7875D;
	background-color: #FFDDD2;
	border-color: #FFDDD2;
	border-radius: 10px
}

#PdfButton{
    height: 55px;
}

#PdfButton{
    height: 55px;
}

#submitbutton {
	height: 40px;
	width: 175px;
	font-size: 18px;
	font-family: Arial;
	color: #F7875D;
	background-color: #FFDDD2;
	border-color: #FFDDD2;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
}

.imageAPropos{
    margin-top: 60px;
}

#FormulaireCommentaire{
    margin-top:275px;
}


.imageAPropos{
    margin-top: 60px;
}

#FormulaireCommentaire{
    margin-top:275px;
}


#resetbutton {
	height: 40px;
	width: 175px;
	font-size: 18px;
	font-family: Arial;
	color: #F7875D;
	background-color: #FFDDD2;
	border-color: #FFDDD2;
	border-radius: 20px;
	box-shadow: 2px 2px 2px black;
}

#navbar {
	color: #006D77;
	background-color: #83C5BE;
	font-size: 20px;
	text-align: center;
	font-family: Arial;
}

#selected {
	color: #83C5BE;
	background-color: #006D77;
	border-style: solid;
	border-color: #006D77;
}

#notselected {
	color: #006D77;
	background-color: #83C5BE;
}

#sfpi {
	text-align: left;
	font-weight: bold;
}

#contact {
	text-align: right;
}

.col-sm {
	border-style: solid
}

input:hover {

	font-size: 18px;
	border-radius: 8px;
	border-color: #006D77;
	border-style: solid;
	border-width: 2px;
}

label {
	font-size: 18px;
	font-family: Arial;
}

.boutonRetour {
	text-align: center;
}

#bodyContact {
    background-color: #006D77;
}

body {
	background-image: url("../../image/background.png");
	background-size: cover;
	background-repeat: no-repeat;
}


#message {
	width: 100%;
	height: 150px;
	font-size: 18px;
	border-radius: 15px;
	border-color: #006D77;
	border-style: solid;
	border-width: 3px;
}

.contactTitle {
	font-size: 20px;
}

#horaireSFPI {
	border-style: solid;
	border-color: black;
    border-collapse: collapse;
}

#tableHeader {
	border-style: solid;
	background-color: #006D77;
	border-color: black;
    color: #EDF6F9;
}

.tableColOdd {
	border-style: solid;
	background-color: #83C5BE;
	border-color: black;
	border-width: 2px;
    padding-right: 15px;
    padding-left: 15px;
}

.tableColEven {
	border-style: solid;
	border-color: black;
	background-color: #EDF6F9;
    padding-right: 15px;
    padding-left: 15px;
}

.banniere{
	width: 100%;
	height: 200px;
	background-image: url("../../image/mains.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}


#Jean-MauricePhoto{
    margin-top: 80px;
}

#Jean-MauriceTexte{
    margin-top: 85px;
}

#McSweenPhoto{
    margin-top: 20px;
}

#McSweenTexte{
    margin-top:40px;
}

#PaiementPhoto{
    margin-top: 15px;
}

#PaiementTexte{
    margin-top:32px;
}

.Horaire
{
    width: 200px;
    text-align: left;
}

.HoraireTable{
    background-color: #006D77;
    border-radius: 50px;
    color: #EDF6F9;
    padding: 30px;
}
